@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    
}
header{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
nav ul{
    display:none;
}
.logo{
    margin-left: 3.75rem;
}
h1{
    font-size: 3.8rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #000;
}
.imgprincipal{
    width: 100%;
    background-image: url("/img/goldenwoman-jibaro-2.png");
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
    height:100vh; 
    
}.logoLDR{
    position: absolute;
    left: 25%;
    top: 72%;
    max-width: 534px;
}
p.title{
    margin-bottom: 0.313rem;
    display: block;
}
main {
    display: flex;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
p.epinfo{
    font-size: 0.9rem;
    line-height: 35px;
    width: 85vw;
}
#resenhaLDR{
    line-height: 30px;
    width: 85vw;
    text-align: justify;
}
.rating {
    display: flex;
    height: 45vh;
    flex-direction: column;
    /* margin-bottom: 30px; */
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.estrelas{
    max-width: 120px;
}
.title{
    font-size: 1.2rem;
    font-weight: 500;
}
.nome{
    font-size:0.9rem;
    line-height: 25px;
}
section.diretores {
    display: flex;
    width: 85vw;
    flex-direction: row;
    flex-wrap: wrap;
    height: 28vh;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-start;
}
iframe{
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    width: 83.0555556vw;
    height: 60vh;
}
footer{
    height: 22.75rem;
    background-color: #171717;
    color: #fff;
}
article a{
    text-decoration: none;
    color: #b99528;
}
a.categories1{
    
    width: auto;
    padding: 0 15px 0 15px;
    height: 45px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    letter-spacing: 2px;
    font-size: 0.75rem;
    transition: 0.5s;
    border: 2px solid #ec0b36;
    border-radius: 50px;
    /*CRÉDITOS DO BOTÃO https://www.youtube.com/watch?v=ois8ipBUgfk&ab_channel=OnlineTutorials*/
    }
    .categorias {
        display: flex;
        width: 85vw;
        justify-content: space-between;
    }
    a.categories1:hover
    {
    color: #fff;
    background: #ec0b36 url("/img/pixel.png");
    transition-delay: 0.8s;
    background-size: 130px ;
    animation: animate 0.8s steps(8) forwards;
    }
    @keyframes animate
    {
    
     0%{
    background-position-y:0;
    }
    100%
    {
    background-position-y:-480px;
    }
}
    p.jibaro {
        font-size: clamp(40px, 10vw, 100px);
        line-height: 1;
        display: inline-block;
        color: #fff;
        z-index: 2;
        letter-spacing: 2px;
        position: absolute;
        top: 90%;
        left: 26%;
        border: 1px solid;
        padding: 10px 20px;
        border-radius: 5px;
        /* Bright things in dark environments usually cast that light, giving off a glow */
        filter: drop-shadow(0 1px 3px);
      }
      
      
      
      .layers {
        position: relative;
      }
      
      .layers::before,
      .layers::after {
        content: attr(data-text);
        position: absolute;
        width: 110%;
        z-index: -1;
      }
      
      .layers::before {
        top: 10px;
        left: 15px;
        color: #e0287d;
      }
      
      .layers::after {
        top: 5px;
        left: -10px;
        color: #1bc7fb;
      }
      
      
      
      @keyframes paths {
        0% {
          clip-path: polygon(
            0% 43%,
            83% 43%,
            83% 22%,
            23% 22%,
            23% 24%,
            91% 24%,
            91% 26%,
            18% 26%,
            18% 83%,
            29% 83%,
            29% 17%,
            41% 17%,
            41% 39%,
            18% 39%,
            18% 82%,
            54% 82%,
            54% 88%,
            19% 88%,
            19% 4%,
            39% 4%,
            39% 14%,
            76% 14%,
            76% 52%,
            23% 52%,
            23% 35%,
            19% 35%,
            19% 8%,
            36% 8%,
            36% 31%,
            73% 31%,
            73% 16%,
            1% 16%,
            1% 56%,
            50% 56%,
            50% 8%
          );
        }
      
        5% {
          clip-path: polygon(
            0% 29%,
            44% 29%,
            44% 83%,
            94% 83%,
            94% 56%,
            11% 56%,
            11% 64%,
            94% 64%,
            94% 70%,
            88% 70%,
            88% 32%,
            18% 32%,
            18% 96%,
            10% 96%,
            10% 62%,
            9% 62%,
            9% 84%,
            68% 84%,
            68% 50%,
            52% 50%,
            52% 55%,
            35% 55%,
            35% 87%,
            25% 87%,
            25% 39%,
            15% 39%,
            15% 88%,
            52% 88%
          );
        }
      
        30% {
          clip-path: polygon(
            0% 53%,
            93% 53%,
            93% 62%,
            68% 62%,
            68% 37%,
            97% 37%,
            97% 89%,
            13% 89%,
            13% 45%,
            51% 45%,
            51% 88%,
            17% 88%,
            17% 54%,
            81% 54%,
            81% 75%,
            79% 75%,
            79% 76%,
            38% 76%,
            38% 28%,
            61% 28%,
            61% 12%,
            55% 12%,
            55% 62%,
            68% 62%,
            68% 51%,
            0% 51%,
            0% 92%,
            63% 92%,
            63% 4%,
            65% 4%
          );
        }
      
        45% {
          clip-path: polygon(
            0% 33%,
            2% 33%,
            2% 69%,
            58% 69%,
            58% 94%,
            55% 94%,
            55% 25%,
            33% 25%,
            33% 85%,
            16% 85%,
            16% 19%,
            5% 19%,
            5% 20%,
            79% 20%,
            79% 96%,
            93% 96%,
            93% 50%,
            5% 50%,
            5% 74%,
            55% 74%,
            55% 57%,
            96% 57%,
            96% 59%,
            87% 59%,
            87% 65%,
            82% 65%,
            82% 39%,
            63% 39%,
            63% 92%,
            4% 92%,
            4% 36%,
            24% 36%,
            24% 70%,
            1% 70%,
            1% 43%,
            15% 43%,
            15% 28%,
            23% 28%,
            23% 71%,
            90% 71%,
            90% 86%,
            97% 86%,
            97% 1%,
            60% 1%,
            60% 67%,
            71% 67%,
            71% 91%,
            17% 91%,
            17% 14%,
            39% 14%,
            39% 30%,
            58% 30%,
            58% 11%,
            52% 11%,
            52% 83%,
            68% 83%
          );
        }
      
        76% {
          clip-path: polygon(
            0% 26%,
            15% 26%,
            15% 73%,
            72% 73%,
            72% 70%,
            77% 70%,
            77% 75%,
            8% 75%,
            8% 42%,
            4% 42%,
            4% 61%,
            17% 61%,
            17% 12%,
            26% 12%,
            26% 63%,
            73% 63%,
            73% 43%,
            90% 43%,
            90% 67%,
            50% 67%,
            50% 41%,
            42% 41%,
            42% 46%,
            50% 46%,
            50% 84%,
            96% 84%,
            96% 78%,
            49% 78%,
            49% 25%,
            63% 25%,
            63% 14%
          );
        }
      
        90% {
          clip-path: polygon(
            0% 41%,
            13% 41%,
            13% 6%,
            87% 6%,
            87% 93%,
            10% 93%,
            10% 13%,
            89% 13%,
            89% 6%,
            3% 6%,
            3% 8%,
            16% 8%,
            16% 79%,
            0% 79%,
            0% 99%,
            92% 99%,
            92% 90%,
            5% 90%,
            5% 60%,
            0% 60%,
            0% 48%,
            89% 48%,
            89% 13%,
            80% 13%,
            80% 43%,
            95% 43%,
            95% 19%,
            80% 19%,
            80% 85%,
            38% 85%,
            38% 62%
          );
        }
      
        1%,
        7%,
        33%,
        47%,
        78%,
        93% {
          clip-path: none;
        }
      }
      
      
      
      
      @keyframes opacity {
        0% {
          opacity: 0.1;
        }
      
        5% {
          opacity: 0.7;
        }
      
        30% {
          opacity: 0.4;
        }
      
        45% {
          opacity: 0.6;
        }
      
        76% {
          opacity: 0.4;
        }
      
        90% {
          opacity: 0.8;
        }
      
        1%,
        7%,
        33%,
        47%,
        78%,
        93% {
          opacity: 0;
        }
      }
      
      
      
      @keyframes font {
        0% {
          font-weight: 100;
          color: #e0287d;
          filter: blur(3px);
        }
      
        20% {
          font-weight: 500;
          color: #fff;
          filter: blur(0);
        }
      
        50% {
          font-weight: 300;
          color: #1bc7fb;
          filter: blur(2px);
        }
      
        60% {
          font-weight: 700;
          color: #fff;
          filter: blur(0);
        }
      
        90% {
          font-weight: 500;
          color: #e0287d;
          filter: blur(6px);
        }
      }
      
      .glitch span {
        animation: paths 5s step-end infinite;
      }
      
      .glitch::before {
        animation: paths 5s step-end infinite, opacity 5s step-end infinite,
          font 8s step-end infinite, movement 10s step-end infinite;
      }
      
      .glitch::after {
        animation: paths 5s step-end infinite, opacity 5s step-end infinite,
          font 7s step-end infinite, movement 8s step-end infinite;
      }
      /*crédito da animação* 
      https://codepen.io/mattgrosswork/pen/VwprebG/
      
           
      

/*
p.jibaro {
    position: absolute;
    top: 87%;
    left: 26%;
    flex-direction: column;
    align-items: center;
    font-size: 6rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    margin-top: 1rem;
    letter-spacing: 0.05em;
    color: #fff;
    width:215px;
    height:45px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    line-height:50px;
    letter-spacing:2px;
    font-size: 2rem;
    transition:0.5s;
    border: 2px solid #ec0b36;
    border-radius: 5px;
}
p.jibaro:hover
{
color: #fff;
background: #ec0b36 url("/img/pixel.png");
transition-delay: 0.8s;
background-size: 130px ;
animation: animate 0.8s steps(8) forwards;
}
@keyframes animate
{

 0%{
background-position-y:0;
}
100%
{
background-position-y:-480px;
}
*/

